body{
	font-family: Roboto;
	background:-webkit-linear-gradient(to right,red, orange, yellow, green, blue);
	background:linear-gradient(to right,red, orange, yellow, green, blue);
}

h1{
	background: linear-gradient(to left,black,grey);
	margin: 0px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
}

#container{
	width: 50%;
	height: 600px;
	background: white;
	margin: 20px auto;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 3px 3px rgba(43, 43, 77, 0.5);
}

#calculator{
	padding: 10px;
}